body {
  background-color: #191a1a;
  color: #d5d5d5;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
header {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
h1 {
  background-color: #282828;
  background-image: 
    linear-gradient(to right, #282828 40%, transparent 70%),
    radial-gradient(circle, #b0b0b0 1.5px, transparent 1.5px);
  background-size: 100% 100%, 6px 6px;

  padding: 0.1em 0.4em;
  color: #e9e9e9;
}
h2 {
  margin-bottom: 0;
}

a:link {
  color: #5ca4f8;
}
a:visited {
  color: #c58af9;
}
a:hover {
  color: #ffffff;
}
.profile-image {
  width: 70px;
  height: 70px;
}
p, ul {
  margin-top: 0.2em;
}
